<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Adepa Abigail
    </title>

    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
</head>
<body class='new_body'>
    <div class="main">
        <h1>&#128140 &#128158Thanks For Agreeing. This Really Means A Lot&#128149 &#128140</h1>

        <p>And Ofcourse you didn't have a choice</p>
    </div>

</body>
</html>