<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Adepa Abigail
    </title>

    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
</head>
<body>
    <div class="main">
        <form class="middle" action="submit_answer" method="post">
            <div class="head">
                <h1>Dear Abigail! Will You Be My Valentine?</h1>
                <p>&#10084 &#10084  &#128536 &#128152</p>
            </div>
            <div class="choice_button">
                <button class="buttons" type="submit">YES</button>
                <button class="buttons" type="submit">YES</button>
            </div>
        </form>
    </div>

    <h4>OFCOURSE YOU DON'T HAVE A CHOICE MA'AM</h4>
</body>
</html>